.custom {
   
    background: #1976d2;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
    font-size: 1.6rem;
    font-weight: 200;
    position: relative;
    z-index: 4;
   
}
.custom .mat-button {
   
    background: #1976d2;
    
    font-size: 1.6rem;
    font-weight: 200;
   
}